name: Release

on:
  push:
    branches:
      - '**'        
  pull_request:
    branches:
      - '**'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET 8.0
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      # Publish Linux exec
      - name: Publish Linux
        run: dotnet publish ./SamFirm/SamFirm.csproj -c Release -r linux-x64 --self-contained true -p:PublishSingleFile=true -p:PublishTrimmed=false -o ./dist/linux

      # Publish macOS (Intel)
      - name: Publish macOS
        run: dotnet publish ./SamFirm/SamFirm.csproj -c Release -r osx-x64 --self-contained true -p:PublishSingleFile=true -p:PublishTrimmed=false -o ./dist/macos

      # Publish Windows (Single File .exe)
      - name: Publish Windows
        run: dotnet publish ./SamFirm/SamFirm.csproj -c Release -r win-x64 --self-contained true -p:PublishSingleFile=true -p:PublishTrimmed=false -o ./dist/windows

  
      - name: Prepare Artifacts
        run: |
          mv ./dist/linux/SamFirm ./SamFirm-linux-x64
          mv ./dist/macos/SamFirm ./SamFirm-macos-x64
          mv ./dist/windows/SamFirm.exe ./SamFirm-win-x64.exe

      # Upload them to the release page
      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            SamFirm-linux-x64
            SamFirm-macos-x64
            SamFirm-win-x64.exe
